html, body {
    height: 100%;
}

#beeperBag, #toolbarRows, #toolbarCols, #delayPanel {
    width: 9ch;
}

.bg-darkgray {
    background-color: #466aaf;
}

.bg-omega {
    background-color: #678dd7;
}